/* Estilos para telas pequenas (até 579px) */
@media screen and (max-width: 579px) {
  /* Ajustes para o cabeçalho */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  /* Estilos para o título do cabeçalho */
  .name-header__title {
    margin-top: 2rem; /* Margem superior de 2rem */
    font-size: 1.6rem; /* Tamanho da fonte de 1.6rem */
    font-weight: bold; /* Define a fonte como negrito */
  }

  /* Estilos para a seção principal */
  main {
    max-width: 90%; /* Largura máxima de 90% */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
  }

  .text__box {
    margin-top: -70px;
  }

  /* Estilos para o subtítulo da caixa de texto */
  .text-box__subtitle {     
    font-weight: 500; /* Define o peso da fonte como 500 */
    display: block; /* Mostra o elemento como bloco */
    margin-bottom: 10rem; /* Margem inferior de 10rem */
    line-height: 4rem; /* Altura da linha de 4rem */
  }

  /* Estilos específicos para h2 do subtítulo da caixa de texto */
  h2.text-box__subtitle {
    font-size: 3rem; /* Tamanho da fonte de 3rem */
    letter-spacing: 0.05rem; /* Espaçamento entre as letras de 0.05rem */
    font-weight: 500; /* Define o peso da fonte como 500 */
    margin-bottom: 25rem; /* Margem inferior de 21rem */
  }

  /* Estilos para o desenvolvedor na caixa de texto */
  .text-box__developer {
    padding-right: 1rem; /* Preenchimento à direita de 1rem */    
    font-size: 0.9;  
    letter-spacing: 0.2rem; /* Espaçamento entre as letras de 0.2rem */
    margin-bottom: -14rem; /* Margem inferior de -15rem (pode ser ajustado) */
    color: #3b3; /* Cor do texto verde escuro */
    
  }

  /* /* Estilos para o círculo e o espiral na caixa de texto (oculto) */
  .text-box__circle,
  .text-box__spiral {
    display: none; /* Oculta o elemento */
  }

  /* Estilos para a foto na caixa de texto */
  .text-box__photo {
    margin-top: -310px; /* Margem superior de -6rem (pode ser ajustado) */
    margin-right: 30px; /* Margem direita de 50px */
  
    width: 80%; /* Largura de 70% */
    height: 100%; /* Altura de 100% */
  }

  /* Estilos para o contato na caixa de texto */
  .text-box__contact {
    display: block; /* Transforma o link em bloco para ocupar toda a largura disponível */
    text-align: center; /* Centraliza o texto */
    margin: 20px auto; /* Margens automáticas */
    margin-top: 18rem; /* Margem superior de 18rem */
    width: 80%; /* Largura de 80% */
    font-size: 0.8rem; /* Tamanho da fonte de 0.8rem */
    border-bottom: none; /* Remove a borda inferior */
    margin-bottom: 0.5rem; /* Margem inferior de 0.5rem */
    line-height: 1.5rem; /* Altura da linha de 1.5rem */
    text-decoration: underline 5px solid #3b3; /* Sublinha o texto com uma borda verde */
  }

  /* Efeito de hover para o contato na caixa de texto */
  .text-box__contact:hover {
    color: #fff; /* Cor do texto branca no hover */
    text-decoration: underline 5px solid #3b3; /* Sublinha o texto com uma borda verde */
  }

  /* hr */
.block__divider--one {
  margin-top: 4rem; /* Define a margem superior como 8rem */
}

.methodology {
  margin-top: -50px; /* Margem superior de 2rem */
}

  /* Estilos para a seção de habilidades na metodologia */
  .methodology__skills {
    margin-top: 2rem; /* Margem superior de 2rem */
    margin-left: 10px; /* Margem esquerda de 10px para telas muito pequenas */
    margin-right: 10px; /* Margem direita de 10px para telas muito pequenas */
    justify-content: center; /* Centraliza os elementos no eixo principal */
  }

  /* Estilos para seção de habilidades na metodologia */
  .methodology__skills > div {
    width: calc(
      100% - 20px
    ); /* Largura de cada elemento filho de 100% - 20px */
  }

  /* Estilos para h2 dentro da metodologia */
  .methodology h2 {
    font-size: 2.3rem; /* Tamanho da fonte de 3.7rem */
  }

  .skill__title{
    font-size: 30px;
  }

  /* Estilos para o projeto na metodologia */
  .methodology-project--rifle {
    margin-top: 40px; /* Margem superior de 4rem */
    margin-left: 10px; /* Margem esquerda de 10px para telas muito pequenas */
    margin-right: 10px; /* Margem direita de 10px para telas muito pequenas */
    flex-direction: column; /* Altera a direção do flexbox para empilhar os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
  }

  /* Estilos para o título do projeto na metodologia */
  .methodology-project--title {
    font-size: 2.3rem; /* Tamanho da fonte de 3.7rem */
  }

  /* Estilos para o subtitulo do projeto na metodologia */
  .methodology-project--subtitle {
    border-bottom: 0.25rem solid #4de29f; /* Borda inferior de 0.25rem sólida em verde */
    color: #f7f7f7; /* Cor do texto branca */
    font-weight: bold; /* Define a fonte como negrito */
  }

  /* Estilos para o contato na metodologia */
  .methodology-contact {
    display: block; /* Transforma o link em bloco para ocupar toda a largura disponível */
    text-align: center; /* Centraliza o texto */
    margin: 20px auto; /* Margens automáticas */
    width: 80%; /* Largura de 80% */
    font-size: 1.2rem; /* Tamanho da fonte de 1.4rem */
    text-decoration: underline 5px solid #3b3; /* Sublinha o texto com uma borda verde */
    border-bottom: none; /* Remove a borda inferior */
  }

  /* Efeito de hover para o contato na metodologia */
  .methodology-contact:hover {
    color: #3b3; /* Cor do texto verde escuro no hover */
    text-decoration: underline 5px solid #ffffff; /* Sublinha o texto com uma borda branca */
  }

  .project-link--large {
    font-size: 0.6rem; /* Define o tamanho da fonte */
  }

  /* Estilos para a seção de projetos na galeria de cartões */
  .card-gallery__project--section {
    margin-left: 10px; /* Margem esquerda de 10px para telas muito pequenas */
    margin-right: 10px; /* Margem direita de 10px para telas muito pequenas */
  }

  /* Estilos para o card do projeto na galeria de cartões */
  .methodology-project__card:nth-of-type(n+7) {
    display: none;
    width: 30rem; /* Define a largura do cartão */
    margin-top: 10px; /* Margem superior de 10px */
   text-align: center;
  }

  /* Estilos para a imagem da seção */
  .section__image {
    width: 100%; /* Largura de 100% */
    height: auto; /* Altura automática mantendo a proporção original */
    border-top-left-radius: 5px; /* Cantos arredondados na parte superior esquerda */
    border-top-right-radius: 5px; /* Cantos arredondados na parte superior direita */
  }

  /* Estilos para o conteúdo do rodapé */
  .footer__content {
    grid-template-columns: 1fr; /* Uma coluna no grid */
    gap: 0.7rem; /* Espaçamento de 0.7rem entre os elementos do grid */
  }

  .footer__content {
    margin-top: -2rem; /* Margem superior de -2rem */
  }

  /* Estilos para informações de contato no rodapé */
  .footer__contact--info {
    margin-top: -2rem; /* Margem superior de -2rem */
    margin-left:60px; /* Margem esquerda de 45px para telas muito pequenas */
    font-size: 2.3rem; /* Tamanho da fonte de 2.7rem */
    flex-direction: column; /* Altera a direção do flexbox para empilhar os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
  }

  /* Estilos para a descrição no rodapé */
  .footer__description {
    margin-top: 1rem; /* Margem superior de 1rem */
    margin-bottom: 1rem; /* Margem inferior de 1rem */
    padding-right: 2.5rem; /* Preenchimento à direita de 2.5rem */
    letter-spacing: 0rem; /* Espaçamento entre letras de 0rem */
    font-size: 1rem; /* Tamanho da fonte de 1rem */
    margin-left: 40px; /* Margem esquerda de 45px para telas muito pequenas */
  }

  /* Estilos para o título h2 */
  .top__page__footer h2 {
    width: 100%; /* Largura de 100% */
    margin-top: 4rem; /* Margem superior de 1rem */
    margin-left: -10px; /* Remove a margem esquerda */
    text-align: center; /* Centraliza o texto */
    font-size: 2rem; /* Tamanho da fonte de 2rem */
  }

  /* Estilos para a saudação no rodapé */
  .salut__footer {
    width: 25%; /* Largura de 30% */
    margin: 1rem auto; /* Margens automáticas superior e inferior, centraliza horizontalmente */
    margin-left: 5rem; /* Margem esquerda de 5rem para telas muito pequenas */
    display: block; /* Transforma em bloco para centralizar horizontalmente */
  }

  /* Estilos para .footer-text */
  .footer-text {
    margin-top: 1.55rem; /* Margem superior de 1.55rem */
  }

  /* Estilos para redes sociais */
  .social-profile {
    display: flex; /* Usa flexbox para layout flexível */
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Centraliza os itens ao longo do eixo transversal */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    border-bottom: none; /* Remove a borda inferior */
    font-weight: bold; /* Define a fonte como negrito */
    margin-left: -30px; /* Margem esquerda de -30px */
    margin-top: -30px; /* Margem superior de -30px */
  }

  /* Estilos para a navegação em redes sociais  */
  .social-profile nav {
    margin-top: 0.3rem; /* Margem superior de 0.3rem */
    margin-left: 4px; /* Margem esquerda de 4px */
  }

  /* Estilos para a divisão entre elementos no perfil social */
  .social-profile div {
    margin-top: 2rem; /* Margem superior de 2rem */
  }

  /* Estilos para o título em redes sociais */
  .profile-name__title {
    margin-left: 4px; /* Margem esquerda de 4px */
  }

  /* Estilos para subtitulo em redes sociais */
  .profile-name__subtitle {
    border-bottom: none; /* Remove a borda inferior */
    color: rgb(26, 68, 26);
    font-weight: bold;
  }

  /* Estilos para o input do formulário de contato */
  #contactForm input {
    width: 100%; /* Largura de 100% */
    font-size: 16px;
    font-weight: bold; /* Define a fonte como negrito */
    margin-left: 0rem; /* Margem esquerda de 0rem */
  }

  /* Estilos para o botão de envio no rodapé */
  .footer__submit--button {
    font-size: 1rem; /* Tamanho da fonte de 1rem */
    font-weight: bold; /* Define a fonte como negrito */
  }

  /* Efeito de hover para o botão de envio no rodapé */
  .footer__submit--button:hover {
    color: #3381f3; /* Cor do texto azul no hover */
  }

  /* Estilos para a animação do botão no rodapé */
  .footer__button--animation {
    width: 60px; /* Largura de 60px */
  }

  /* Estilos para a linha divisória hr */
  .block__divider--three {
    width: 90%; /* Largura de 90% */
    margin: 0 auto; /* Margens automáticas nos lados esquerdo e direito */
    border-bottom: 1px solid hsl(0, 0%, 13%); /* Borda inferior de 1px sólida em tom de cinza */
  }

  /* Estilos para links na seção de ícones */
  .icons a {
    color: rgb(26, 68, 26); /* Cor do texto em verde escuro */
  }

  /* Efeito de hover para links na seção de ícones */
  .icons a:hover {
    color: #8c8c8c; /* Cor do texto em cinza escuro no hover */
  }
}
  /* Estilos para dispositivos entre 580px e 768px de largura de tela */
@media screen and (min-width: 580px) and (max-width: 768px) {
  /* Estilos para a seção principal */
  main {
    max-width: 90%;
    margin: 0 auto;
  }

  .profiles{
    margin-top: 30px;
  }

  .text__box {
    margin-top: -30px;
  }

  /* Estilos para o subtítulo da caixa de texto */
  .text-box__subtitle {
    font-weight: 500;
    display: block;
    margin-bottom: 5rem;
    line-height: 3rem;
  }

  /* Estilos específicos para h2 do subtítulo da caixa de texto */
  h2.text-box__subtitle {
    font-size: 3.7rem;
    letter-spacing: 0.05rem;
    font-weight:500;
    margin-bottom: 5rem;
  }

  /* Estilos para o desenvolvedor na caixa de texto */
  .text-box__developer {
    font-size: 1.5rem;
    margin-top: -60px;
    letter-spacing: 0.5rem;
    margin-bottom: -15rem;
    color: rgb(253, 253, 253);
    line-height: 1.9rem;
    text-align: center;
    font-weight: bold;
  }

  /* Estilos para a foto na caixa de texto */
  .text-box__photo {
    margin-top: -480px;
    margin-right: -30px;
    margin-bottom: 2rem;   
  }

  .text-box__circle{
    margin-top: 100px;
  }

  /* Estilos para o contato na caixa de texto */
  .text-box__contact {
    display: block;
    text-align: center;
    margin-left: -180px;  
    margin-top: 20rem;
    width: 80%;
    font-size: 1.2rem;
    border-bottom: none;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    text-decoration: underline 5px solid #3b3;
  }

  /* Efeito de hover para o contato na caixa de texto */
  .text-box__contact:hover {
    color: #fff;
    text-decoration: underline 5px solid #3b3;
  }

  .block__divider--one {
    margin-top: 4rem;
  }

  /* Estilos para a seção de habilidades na metodologia */
  .methodology__skills {
    margin-top: 4rem;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
  }

  .skill__title {
    margin-bottom: 10px; /* Define a margem inferior */
    color: #fff; /* Define a cor do texto */
    font-size: 30px; /* Define o tamanho da fonte */
  }

  .block__divider--two {  
    width: 90%; /* Ajuste a largura da linha conforme a necessidade */   
  }

  /* Estilos para h2 dentro da metodologia */
  .methodology h2 {
    font-size: 3rem;
  }

  .methodology-project--rifle {
    margin-top: 4rem;
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: column;
    align-items: center;
  }

  /* Estilos para o título do projeto na metodologia */
  .methodology-project--title {
    font-size: 3rem;
  }

  .methodology-project--subtitle {
    border-bottom: 0.25rem solid #4de29f;
    color: #f7f7f7;
    font-weight: bold;
  }

  /* Estilos para o contato na metodologia */
  .methodology-contact {
    display: block;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    font-size: 1.4rem;
    text-decoration: underline 5px solid #3b3;
    border-bottom: none;
  }

  .methodology-contact:hover {
    color: #3b3;
    text-decoration: underline 5px solid #ffffff;
  }

  .project-link--large {
    font-size: 0.8rem;
  }

  .card-gallery__project--section {
    margin-left: 5px;
    margin-right: 5px;
  }

  .methodology-project__card:nth-of-type(n+7) {
    display: none;
    width: 30rem;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .section__image {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  /* Estilos para o conteúdo do rodapé */
  .footer__content {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-top: -2rem;
  }

  /* Estilos para informações de contato no rodapé */
  .footer__contact--info {
    margin-top: -2rem;
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
  }

  /* Estilos para a descrição no rodapé */
  .footer__description {
    margin-top: 3rem; 
    margin-left: 40px; 
    margin-bottom: 3rem;
    font-size: 28px;
    font-weight: bold; /* Define a espessura da fonte como negrito */
  } 

  /* Estilos para o título h2 */
  .top__page__footer h2 {
    width: 100%;
    margin-top: 25px;
    margin-left: 0;
    text-align: center;
    font-size: 2.5rem;
  }

  .salut__footer {
    width: 23%;
    margin: 1rem auto;
    margin-top: -5px;
    margin-left: 8rem;
    display: block;
  }

  .footer-text {
    margin-top: 1.5rem;
  }

  .social-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    font-weight: bold;
    margin-left: -20px;
    margin-top: -20px;
  }

  .social-profile nav {
    margin-top: 0.5rem;
    margin-left: 4px;
  }

  .social-profile div {
    margin-top: 1.5rem;
  }

  .profile-name__title {
    margin-left: 4px;
  }

  .profile-name__subtitle {
    border-bottom: none;
    color: rgb(26, 68, 26);
    font-weight: bold;
  }

  #contactForm input, textarea {
    width: 100%;
    font-weight: bold;
    margin-left: 0;
    font-size: 1.5rem;
  }

  .footer__submit--button {
    font-size: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .footer__submit--button:hover {
    color: #3381f3;
  }

  .footer__button--animation {
    width: 60px;
  }

  .block__divider--three {
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid hsl(0, 100%, 100%);
  }

  .icons a {
    color: rgb(26, 68, 26);
  }

  .icons a:hover {
    color: #8c8c8c;
  }
}

/* Estilos para dispositivos entre 769px e 1200px de largura de tela */
@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* Estilos para a seção principal */
  main {
    max-width: 85%;
    margin: 0 auto;
  }

  .text__box {
    margin-top: 0;
  }

  /* Estilos para o subtítulo da caixa de texto */
  .text-box__subtitle {
    font-weight: 500;
    display: block;
    margin-bottom: 3rem;
    line-height: 3rem;
  }

  /* Estilos específicos para h2 do subtítulo da caixa de texto */
  h2.text-box__subtitle {
    font-size: 2.8rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  /* Estilos para o desenvolvedor na caixa de texto */
  .text-box__developer {
    font-size: 1.3rem;
    letter-spacing: 0.9rem;
    margin-bottom: -10rem;
    color: rgb(248, 248, 248);
    line-height: 1.8rem;
    text-align: center;
    font-weight: bold;
  }

  /* Estilos para a foto na caixa de texto */
  .text-box__photo {
    margin-top: -500px;
    margin-right: -50px;
    margin-bottom: 2rem;    
  }

  .text-box__circle{
    margin-top: 80px;
  }

  /* Estilos para o contato na caixa de texto */
  .text-box__contact {
    display: block;
    text-align: center;
    margin: 20px auto;
    margin-top: 15rem;
    width: 80%;
    font-size: 1rem;
    border-bottom: none;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    text-decoration: underline 5px solid #3b3;
  }

  /* Efeito de hover para o contato na caixa de texto */
  .text-box__contact:hover {
    color: #fff;
    text-decoration: underline 5px solid #3b3;
  }

  .block__divider--one {
    margin-top: 8rem;
  }

  /* Estilos para a seção de habilidades na metodologia */
  .methodology__skills {
    margin-top: 5rem;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
  }

  /* Estilos para h2 dentro da metodologia */
  .methodology h2 {
    font-size: 3rem;
  }

  /* Estilos de habilidades */
.skill__title {
  margin-bottom: 10px; /* Define a margem inferior */
  color: #fff; /* Define a cor do texto */
  font-size: 30px; /* Define o tamanho da fonte */
}

  .methodology-project--rifle {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px; 
    flex-direction: column;
    align-items: center;
  }

  /* Estilos para o título do projeto na metodologia */
  .methodology-project--title {
    font-size: 3rem;
  }

  .methodology-project--subtitle {
    border-bottom: 0.25rem solid #4de29f;
    color: #f7f7f7;
    font-weight: bold;
  }

  /* Estilos para o contato na metodologia */
  .methodology-contact {
    display: block;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    font-size: 1.4rem;
    text-decoration: underline 5px solid #3b3;
    border-bottom: none;
  }

  .methodology-contact:hover {
    color: #3b3;
    text-decoration: underline 5px solid #ffffff;
  }

  .project-link--large {
    font-size: 1rem;
  }

  .card-gallery__project--section {
    margin-left: 10px;
    margin-right: 10px;
  }

  .methodology-project__card:nth-of-type(n+7) {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .section__image {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  /* Estilos para o conteúdo do rodapé */
  .footer__content {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-top: -2rem;
  }

  /* Estilos para informações de contato no rodapé */
  .footer__contact--info {
    margin-top: -2rem;
    margin-left: 2rem;
    text-align: center;
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
  }

  .footer__description {
    margin-top: 3rem; 
    margin-left: 40px; 
    margin-bottom: 3rem;
    font-size: 28px;
    font-weight: bold; /* Define a espessura da fonte como negrito */
  } 

  /* Estilos para o título h2 */
  .top__page__footer h2 {
    width: 100%;
    margin-top: 80px;
    margin-left: 0;
    text-align: center;
    font-size: 2.3rem;
  }

  .salut__footer {
    width: 28%;
    margin: 1rem auto;
    display: block;
  }

  .footer-text {
    margin-top: 1.5rem;
  }

  .social-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    font-weight: bold;
    margin-left: -20px;
    margin-top: -20px;
  }

  .social-profile nav {
    margin-top: 0.5rem;
    margin-left: 4px;
  }

  .social-profile div {
    margin-top: 1.5rem;
  }

  .profile-name__title {
    margin-left: 4px;
  }

  .profile-name__subtitle {
    border-bottom: none;
    color: rgb(26, 68, 26);
    font-weight: bold;
  }

  #contactForm input {
    width: 100%;
    font-weight: bold;
    margin-left: 0;
    font-size: 1.5rem;
  }

  .footer__submit--button {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .footer__submit--button:hover {
    color: #3381f3;
  }

  .footer__button--animation {
    width: 60px;
  }

  .block__divider--two {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid hsl(0, 0%, 13%);
  }

  .icons a {
    color: rgb(26, 68, 26);
  }

  .icons a:hover {
    color: #8c8c8c;
  }
}

/* Para telas médias (como MacBooks) */
@media (min-width: 1280px) and (max-width: 1440px) {

  .section__image {
    width: 19.8rem; /* Assegura que a imagem preencha completamente o espaço do cartão */  
  }
  
  .methodology-project__card {
      margin: 10px 5px; /* Aproxima os cards, ajustando a margem */
      background-color: #f9f9f9; /* Opção: adicione uma cor de fundo para distinguir os cards */
      border-radius: 8px; /* Opção: adicione bordas arredondadas para um efeito estético */
  }

  .card-gallery__project--section {
      display: flex;
      flex-wrap: wrap; /* Permite que os cards se movam para a próxima linha se necessário */
      justify-content: space-around; /* Distribui os cards uniformemente com espaço ao redor */
  }

  .methodology-project__card {
      width: calc(30% - 10px); /* Ajusta a largura dos cards para ficarem mais próximos, 3 cards por linha */
  } 

  .text-box__developer {
    font-size: 1.5rem;
  }
  #contactForm input {
    width: 100%;
    font-weight: bold;
    margin-left: 0;
    font-size: 1.5rem;
  }

  .footer__submit--button {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

/* Para telas menores que 1279px */
@media (max-width: 1279px) {
  .methodology-project__card {
      width: calc(45% - 10px); /* Para telas menores, dois cards por linha */
  }
}
