/* /* Estilos para dispositivos móveis */

/* Definição da cor de fundo para o corpo da página e a seção de sucesso/erro */
.c-body,
.c-success-error-page {
  background-color: #0f1232; /* Cor de fundo */
}

/* Estilo para links, removendo a decoração padrão */
a {
  text-decoration: var(--none); /* Remove decoração de links */
}

/* Animação de rotação para elementos animados */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Estilos para a seção de sucesso/erro, centralizando e definindo cores */
.c-success-error-page {
  width: 100vw; /* Define a largura como 100% da largura da viewport */
  height: 100vh; /* Define a altura como 100% da altura da viewport */
  display: flex; /* Usa o modelo de layout flexível */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  color: #ffffffff; /* Define a cor do texto */
}
/* Estilos para a seção principal dentro da seção de sucesso/erro */
.c-success-error-page-main {
  max-width: 80%; /* Define a largura máxima */
  height: auto; /* Define a altura automática */
  padding: 10px; /* Adiciona espaçamento interno */
  display: flex; /* Usa o modelo de layout flexível */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  flex-direction: column; /* Empilha os elementos verticalmente */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  border: 2px solid #8fe8ef41; /* Define a cor e espessura da borda */
  margin-left: -30px; /* Move ligeiramente para a esquerda */
}

/* Estilos para o título h1 dentro da seção principal */
.c-success-error-page-main h1 {
  font-size: 40px; /* Define o tamanho da fonte */
  padding: 20px; /* Adiciona espaçamento interno */
  text-align: center; /* Centraliza o texto */
  font-weight: bold; /* Adiciona negrito à fonte */
}
/* Estilos para o subtítulo h2 dentro da seção principal */
.c-success-error-page-main h2 {
  font-size: 23px; /* Define o tamanho da fonte */
  padding: 20px; /* Adiciona espaçamento interno */
  margin: 5px; /* Adiciona margem */
  text-align: center; /* Centraliza o texto */
  font-weight: bold; /* Adiciona negrito à fonte */
}
/* Estilos para o link dentro da seção principal */
.c-success-error-page-main a {
  font-size: 20px; /* Define o tamanho da fonte */
  margin: 20px; /* Adiciona margem */
  padding: 10px 25px; /* Adiciona espaçamento interno */
  color: #3b3; /* Define a cor do texto do link */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  text-decoration: none; /* Remove a decoração de texto */
  border: 1px solid transparent; /* Define a borda transparente */
  border-bottom: 0.5rem solid #8fe8ef41; /* Define a cor da borda inferior */
  transition: 0.6s; /* Adiciona uma transição suave de 0.6 segundos */
  font-weight: bold; /* Adiciona negrito à fonte */
}

/* Estilos para o link ao passar o mouse sobre ele */
.c-success-error-page-a-hover:hover {
  color: #5fdde5; /* Define a cor do texto do link ao passar o mouse */
  border: 1px solid transparent; /* Define a borda transparente */
  border-bottom: 0.5rem solid #5fdde5; /* Define a cor da borda inferior ao passar o mouse */
  transform: scale(1.1); /* Adiciona um efeito de escala ao passar o mouse */
}
